.Habilidades h1{
    text-align: center;
    font-size: 80px;
    padding-top: 50px;
}

.Habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grafico{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.barra{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    
}

@media (max-width:768px){
    .barra{
        width: 80%;
        font-size: 0.2em ;
      
    }
}