:root{
  --primary-white: #fff;
  --primary-orange: #f9ab00 ;
  --primary-dark: rgba(255, 255, 255, 0)
}



.App{
  box-sizing: border-box;
  text-align: center;
  background-color: #333;
  z-index: 2;
}

.Header{
  
  z-index: 2;
  background-position: center; 
  background-repeat: no-repeat;
}

.Corpo{
  z-index: 5;
  text-align: center;
  font-family: monospace;
  color:#000;
}

.line{
  
  white-space: nowrap;
  overflow: hidden;
  z-index: 2;
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  margin-top: 290px;
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.2em
}

.line:hover{
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@keyframes blinkCursor{
  from{
    border-right-color:rgba(255, 255, 255, 0.75)
  }to{
    border-right-color: transparent
  }
}

@keyframes typing{
  from{
    width: 20em;
  }to{
    width: 0em;
  }
}

@media (max-width:768px){
  
    @keyframes blinkCursor{
      from{
        border-right-color:rgba(255, 255, 255, 0.75)
      }to{
        border-right-color: transparent
      }
    }
    
    @keyframes typing{
      from{
        width: 2em;
      }to{
        width: 1em;
      }
    }
  }




.PrimeiraImagem{
  z-index: 2;
  width: 100%;
  font-size: 50px;
}
.SegundaImagem{
  z-index: 2;
  width: 100%;
  font-size: 50px;
}
.TerceiraImagem{
  z-index: 2;
  width: 100%;
  font-size: 70%;
}

.Dados{
  z-index: 90;
}


body{
  font-family: "Roboto Condesed" sans-serif;
}

/*==================================== NavBar =======================================*/
nav{
  z-index: 2;
}


.logo{
  width: 13rem;
}


nav a.nav-link{
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}



.navbar-nav > li > a{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 2 !important;
  height: 5rem !important;
}

@media(max-width: 768px){
  .navbar-brand{
    width: 7rem;
  }
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-white);
}